html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    background-color: #D7E4FE;
}

html, body, div, p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #E9F0FF;
}

@media (max-width: 450px){
    img{
        padding-bottom: 5%;
        padding-top: 6%;
    }
}

form{
    margin-bottom: 5%;
}

form#map{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

input, textarea{
    background: #ffffff;
    border: #233657 solid 0.15em;
    border-radius: 5px;
    margin: 2% 0 0 0;
}

textarea{
    width: 100%;
}

button{
    border: #233657 solid 0.15em;
    border-radius: 5px;
    background: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: #233657;
}

/* navbar styles */

div#navbar{
    height: 40px;
    background-color: #8A9BB1;
    width: 100%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    padding: 10%, 0, 10%, 0;
}

ul.navbar{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 0;
    margin-top: 10px;
}

/*header styles*/

div#header{
    width: 100%;
    height: 678px;
    background-image: url(../img/bg_image.png);
    background-color: #D7E4FE;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
}

@media (max-width: 450px){
    div#header{
        height: 300px;
        background-image: url(../img/bg_image300.png);
    }
}

@media (min-width: 450px) and (max-width: 768px){
    div#header{
        height: 450px;
        background-image: url(../img/bg_image450.png);
    }
}

h1{
    color: #ffffff;
    margin: 0;
    padding-top: 5%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: initial;
}

h2{
    color: #3A4F72;
    padding-bottom: 2%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

h2.right-text{
    color: #3A4F72;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}

hr{
    margin: 0;
    border: none;
    border-top: 0.2em solid #3A4F72;
    padding-bottom: 2%;
}

p{
    color: #3A4F72;
    font-family: 'Open Sans', sans-serif;
}

/* footer */
div#footer{
    margin-top: 7%;
    width: auto;
    padding: 3% 15% 1%;
    background-color: #233657;
    font-size: 0.9em;
}

p.footer{
    color: #E9F0FF;
}
